body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
}

section#begin {
    width: 100%;
}

header {
    display: grid;
    place-content: center; /*justify-content=horizontal & align-content=vertical*/
    height: 95vh;
    background: url(../images/business.jpg) no-repeat center;
    background-size: cover;
}

header .heading {
    text-align: center;
    border: 3px solid white;
    padding:  5vh 6vw;
    background-color: black;
    opacity: 0.8;    
    color: white;
}

.heading h1 {
    font-size: 65px;
    margin: 0;
}

.heading h2 {
    font-weight: 300;
    margin: 0;
}

nav.navbar {
    padding: 0 !important;
}

a.nav-link {
    line-height: 4vh;  
    padding: 1vh 4vw;  
}

nav a:hover, 
nav a.active {    
    background-color: #101010;
}

section#aboutMe {
    background-color: #398AB9;
    color: white;
    padding-bottom: 6vh;
    padding-left: 16vw;
    padding-right: 16vw;
    margin: 0;
    min-width: 100%;
}

.heading h2.title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 0;
    padding-top: 6vh;
}

.heading h2,
.heading p {
    text-align: center;
}

.bntDownload {
    font-size: 16px;
    font-weight: 700;
    background: #404040;
    padding: 16px 22px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

div#imagenYo{
    display: grid;    
    place-items: center;
}

.img-circle {
    border-radius: 50%;
    height: 40vh; 
}

section#knowledge {
    color: #398AB9;
    padding-bottom: 4vh;
}

section#knowledge p {
    color: black;
}

section#knowledge .row {
    padding-top: 3vh;
    justify-content: center;
}

.skillArea {
    display: grid;
    place-content: center;
}

.skillArea h2 {
    font-size: 24px;    
    text-align: center;
    padding-bottom: 3vh;
}

.skillArea .chart {
    position: relative;       
    width: 150px;
    height: 150px;
    font-size: 30px;
    text-align: center;
    line-height: 150px;
}

.skillArea canvas {
    position: absolute;
    top: 0;
    left: 0;
}

section#contact {
    height: 100vh;
    background: #398AB9;
    color: white;
}


